@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Montserrat&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


p{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bitter', serif;
}

#button {
    background-color: #f89d35;
    color: #fff;
    text-decoration: none;
}

#button:hover {
    background-color: #863bae !important;
    color: #fff;
    text-decoration: none;
}



a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
    color: #000;
}

.color:hover{
    color: #f89d35 ;
}

.bgcolor:hover{
    background-color: #f89d35 ;
}


.thumnail{
    background-image: url('assets/image/3.jpg');
    height: 800px;
    width: auto;
}

.foot:hover{
    text-decoration: underline;
    color: #fff;
}